.containerForm {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.unputs {
    border: none;
    border-bottom: solid 1px #7c7c7c;
    outline: none;
    height: 60px;
    font-size: 24px;
}

.InputsBox {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.buttonAutorization {
    height: 144px;
    border-radius: 25px;
    background-color: #3535ff;
    color: #fff;
}