.header {
    width: 100%;
    height: 100px;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    padding: 0 50px;
    box-sizing: border-box;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main {
    display: flex;
    height: 100%;
}

.leftContainerSidebar {
    width: 33vw;
    background-color: #5a5a5a;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 0 0;
    box-sizing: border-box;
}


.chatSlide {
    display: flex;
    padding: 0 30px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}

.chatSlide:hover {
    background-color: rgb(249, 249, 249);
}


.header_button {
    height: 32px;
    border-radius: 24px;
}

.header_button:hover {
    background-color: #919191;
    border-radius: 24px;
    color: #ffffff;
    border: solid 1px #fff;
    transition: 0, 4s;
}



.ChoosingAnInterlocutor {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}